
[class^="col"]{
    padding: 20px;
    background-color: dodgerblue;
    border: 1px solid white;

}
[class^="off"]{
    padding: 25px;
    background-color: white;
    border: 1px solid white;

}



.nested{
    padding: 20px;
    background-color: rgb(47, 230, 47);
    border: 2px solid dodgerblue;
}


.margin-top-20px{
    margin-top: 20px;
}
.margin-bot-20px{
    margin-bottom: 20px;
}


.container-fluid{
    padding-bottom: 400px;
}

.big{
    padding: 40px;
}
.small{
    padding: 12px;
    height: 50%;
}


.ex-content{
    background-color: dodgerblue;
    padding: 20px;
}