.row{
    background-color: dodgerblue;
}

body{
    background-color: red;
}


[class^="col"]{
    height: 50px;
    background-color: dodgerblue;
    border: 2px solid white;

}



.nested{
    background-color: forestgreen;
    border: 2px solid blue;
}


.margin-top-20px{
    margin-top: 20px;
}